
Gerenciado de Estoque/bin/Debug/net8.0/Gerenciado de Estoque.deps.json
Gerenciado de Estoque/bin/Debug/net8.0/Gerenciado de Estoque.dll
Gerenciado de Estoque/bin/Debug/net8.0/Gerenciado de Estoque.pdb
Gerenciado de Estoque/bin/Debug/net8.0/Gerenciado de Estoque.exe
Gerenciado de Estoque/bin/Debug/net8.0/Gerenciado de Estoque.runtimeconfig.json
Gerenciado de Estoque/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
*.cache
*.exe
*.BuildWithSkipAnalyzers
*.dll
*.txt
*.editorconfig
Gerenciado de Estoque/obj/project.assets.json
Gerenciado de Estoque/obj/Debug/net8.0/Gerenciado de Estoque.pdb
Gerenciado de Estoque/obj/Gerenciado de Estoque.csproj.nuget.dgspec.json
Gerenciado de Estoque/obj/Gerenciado de Estoque.csproj.nuget.g.targets
Gerenciado de Estoque/obj/Gerenciado de Estoque.csproj.nuget.g.props
